.details {
  > div {
    h2 {
      margin-bottom: 24px;
    }
    > div {
      display: flex;
      justify-content: space-between;
    }
    > p {
      font-size: 12px;
    }
  }

  button {
    margin-top: 16px;
  }
}

mat-checkbox {
  font-size: 12px;
}
