.nav-container {
  display: flex;
  align-items: center;
  background-color: #838876;
  color: #ffffff;
  height: 64px;

  h1 {
    margin: 0 0 0 12px;
    font-family: "Orbitron", sans-serif;
    font-size: 24px;
  }
}
