.details {
  > div {
    .heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;
    }

    .times p:first-child {
      margin-bottom: 8px;
    }

    ul {
      padding-inline-start: 40px;
      margin-block-start: 4px;
    }

    .reviews {
      display: flex;
      flex-direction: column;

      > div:first-child {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        span {
          margin-left: 8px;
        }
        .star {
          background-image: url("../../assets/star-lg-yellow.svg");
          width: 12px;
          height: 13px;
          margin-left: 2px;
        }
      }

      .review {
        font-size: 12px;
        margin-left: 8px;
        margin-bottom: 8px;

        div {
          margin-bottom: 2px;
          span {
            margin-left: 4px;
          }
        }
      }
    }
  }
  button {
    margin-top: 16px;
  }
}
