.details {
  background-color: white;
  border-radius: 8px;
  margin: 16px;
  padding: 32px 16px;

  > * {
    margin-bottom: 16px;
  }

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  .times p:first-child {
    margin-bottom: 8px;
  }

  ul {
    padding-inline-start: 40px;
    margin-block-start: 4px;
  }

  .reviews {
    display: flex;
    flex-direction: column;

    > div:first-child {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      span {
        margin-left: 8px;
      }
      .star {
        background-image: url("../../assets/star-lg-yellow.svg");
        width: 12px;
        height: 13px;
        margin-left: 2px;
      }
    }

    .review {
      font-size: 12px;
      margin-left: 8px;
      margin-bottom: 8px;

      div {
        margin-bottom: 2px;
        span {
          margin-left: 4px;
        }
      }
    }
  }

  button {
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 12px 0;
    margin-bottom: 0;
    background-color: #b1846f;
    color: white;
    font-family: "Questrial", sans-serif;
    font-size: 20px;

    &:hover {
      font-size: 21px;
    }

    &:active {
      opacity: 0.8;
    }
  }
}
