.details {
  > div {
    .heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;
    }

    .times p:first-child {
      margin-bottom: 8px;
    }

    ul {
      padding-inline-start: 40px;
      margin-block-start: 4px;
    }

    .reviews {
      display: flex;
      flex-direction: column;

      > div:first-child {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        span {
          margin-left: 8px;
        }
        .star {
          background-image: url("../../assets/star-lg-yellow.svg");
          width: 12px;
          height: 13px;
          margin-left: 2px;
        }
      }

      .review {
        font-size: 12px;
        margin-left: 8px;
        margin-bottom: 8px;

        div {
          margin-bottom: 2px;
          span {
            margin-left: 4px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .details {
    > div {
      p {
        font-size: 18px;
      }
      .reviews {
        font-size: 18px;

        .review {
          div,
          p {
            font-size: 14px;
          }

          div {
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .details {
    > div {
      p {
        font-size: 20px;
      }
      .reviews {
        font-size: 20px;

        .review {
          div,
          p {
            font-size: 16px;
          }

        }
      }
    }
  }
}
