.details {
  > div {
    h2 {
      margin-bottom: 24px;
    }
    > div {
      display: flex;
      justify-content: space-between;
    }
    > p {
      text-align: center;
      margin-top: 32px;
    }

    .thanks {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 40px;
    }
  }
}

@media screen and (min-width: 768px) {
  .details {
    > div {
      > div,
      p {
        font-size: 18px;
      }

      > p {
        margin-top: 56px;
      }

      .thanks {
        margin-top: 48px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .details {
    > div {
      > div,
      p {
        font-size: 20px;
      }

      > p {
        margin-top: 96px;
      }

      .thanks {
        margin-top: 56px;
      }
    }
  }
}
