// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$earthy-green-palette: (
  50: #faffeb,
  100: #f5fae6,
  200: #f0f5e1,
  300: #ebf0dc,
  400: #cad0bc,
  500: #adb3a0,
  600: #838876,
  700: #6e7362,
  800: #4e5342,
  900: #2c3021,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  ),
);

$rust-palette: (
  50: #ffe7d6,
  100: #eac7b7,
  200: #cea594,
  300: #b1846f,
  400: #9b6a53,
  500: #855138,
  600: #7a4832,
  700: #693c29,
  800: #5b2f22,
  900: #4b2218,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  ),
);

$elmnt-rooms-primary: mat.define-palette($earthy-green-palette);
$elmnt-rooms-accent: mat.define-palette($rust-palette);

// The warn palette is optional (defaults to red).
$elmnt-rooms-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$elmnt-rooms-theme: mat.define-light-theme(
  (
    color: (
      primary: $elmnt-rooms-primary,
      accent: $elmnt-rooms-accent,
      warn: $elmnt-rooms-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($elmnt-rooms-theme);

/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d9d9d4;
  font-family: "Questrial", sans-serif;
}

main {
  padding: 24px 16px;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
}

.room-image {
  width: 100%;
  height: 292px;
  background-position: center;
  background-size: cover;
}

.main {
  flex: 1;
  padding: 16px;
  box-sizing: border-box;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  padding: 32px 16px;
  min-height: 388px;

  > div {
    flex-direction: column;
    > div,
    > p {
      margin-bottom: 16px;
    }
  }
}

button {
  width: 100%;
  height: 54px;
  border: none;
  border-radius: 8px;
  padding: 12px 0;
  background-color: #b1846f;
  color: white;
  font-family: "Questrial", sans-serif;
  font-size: 20px;

  &:hover {
    font-size: 21px;
  }

  &:active {
    opacity: 0.8;
  }

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: darkgray;
    background-color: lightgray;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    min-height: calc(100vh - 80px);
  }
  .room-image {
    height: 482px;
  }

  .main {
    padding: 24px;
  }
}
