.container {
  padding: 24px 16px;
  box-sizing: border-box;
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/rock-bkgr.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  > div {
    flex: 1;
  }

  p {
    color: white;
    font-size: 24px;
    width: 136px;
    margin-bottom: 32px;
  }
}

mat-form-field {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 40px 24px;
    min-height: calc(100vh - 80px);
    p {
      font-size: 32px;
    }
  }
  .mat-inputs {
    display: flex;

    > mat-form-field:first-of-type {
      margin-right: 8px;
    }
  }
}
