.container {
  padding: 24px 16px;

  .roomsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  a {
    text-decoration: none;
    color: unset;
    width: 100%;

    &:hover,
    &:active {
      width: 98%;
    }

    &:first-of-type .room {
      margin-top: 4px;
    }
  }

  .room {
    background-color: #fff;
    border-radius: 8px;
    height: 260px;
    margin: 12px 8px;

    .typography {
      padding: 12px;

      h3 {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 4px;
      }

      p {
        font-size: 14px;
      }

      div {
        display: flex;
        justify-content: space-between;
      }

      .star {
        background-image: url("../../assets/star-lg-yellow.svg");
        width: 12px;
        height: 13px;
        margin-left: 2px;
      }
    }
  }
}
