<div class="container">
  <div class="roomsList">
    <a
      [routerLink]="['/room', room.roomId]"
      [ngClass]="e ? 'even' : 'odd'"
      *ngFor="let room of rooms; let e = even; let o = odd"
    >
      <div class="room">
        <div
          class="image"
          [style.backgroundImage]="'url(' + room.photo + ')'"
        ></div>
        <div class="typography">
          <div>
            <h3>{{ room.name }}</h3>
            <div>
              <p>{{ room.rating }}</p>
              <div class="star"></div>
            </div>
          </div>
          <p>{{ room.price | currency : "USD" : "symbol" : "1.0-0" }}/night</p>
        </div>
      </div>
    </a>
  </div>
</div>
